In [2]:
mesage = "Hello Python Crash Course reader!"

In [2]:
type(mesage)

str

In [5]:
help(mesage.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [6]:
?mesage.count

In [7]:
??mesage.count

In [32]:
?mesage.count?

In [33]:
mesage.count?

In [10]:
mesage.count??

In [9]:
?mesage.count

In [13]:
get_ipython().run_line_magic('pinfo', 'mesage.count')

In [12]:
get_ipython().run_line_magic('pinfo2', 'mesage.count')

In [14]:
print(mesage)

Hello Python Crash Course reader!

In [34]:
first_name = "Isfhan"
last_name = "Ahmed"
full_name = first_name + " " + last_name

In [39]:
print=(full_name)
full_name

'Isfhan Ahmed'

In [41]:
'a'+'c'

'ac'

In [45]:
name = 'isfhan'
print=(name)
name

'isfhan'

In [51]:
name = "isfhan"
print=(name)
name

'isfhan'

In [49]:
name = '''isfhan'''
print=(name)
name

'isfhan'

In [22]:
detail = """
name :- Isfhan ahmed
fatherName :- Dildar ahmed
"""
print(detail)
detail

name :- Isfhan ahmed
fatherName :- Dildar ahmed

'\nname :- Isfhan ahmed\nfatherName :- Dildar ahmed\n'

In [54]:
detail = """
Saylani mass IT traing program
Course : Saylani Ai batch-2
name :- Isfhan ahmed
fatherName :- Dildar ahmed
rollNumber : 12546 batch : 2
"""
print(detail)
detail

TypeError: 'str' object is not callable

In [24]:
name = 'JohnDoe' 
father_name = 'johnCena'
roll_number = 45678

detail = """
Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name} 
FatherName : {father_name}
RollNumber : {roll_number} batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name}
FatherName : {father_name}
RollNumber : {roll_number} batch : 2

In [27]:
name = 'JohnDoe' 
father_name = 'johnCena'
roll_number = 45678

detail = f"""
Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name} 
FatherName : {father_name}
RollNumber : {roll_number} batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : JohnDoe
FatherName : johnCena
RollNumber : 45678 batch : 2

In [28]:
name = 'JohnDoe' 
father_name = 'Obama'
roll_number = 45678

detail = f"""
Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name} 
FatherName : {father_name}
RollNumber : {roll_number} batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : JohnDoe
FatherName : Obama
RollNumber : 45678 batch : 2

In [55]:
name

'isfhan'

In [56]:
name.upper()

'ISFHAN'

In [57]:
name.lower()

'isfhan'

In [58]:
name.title()

'Isfhan'

In [59]:
game = "Gta     "

In [60]:
print(game)

TypeError: 'str' object is not callable

In [41]:
game.rstrip()

'Gta'

In [42]:
2+5

7

In [43]:
'1'+'1'

'11'

In [44]:
55 + 96.6

151.6

In [45]:
'1'+1

TypeError: can only concatenate str (not "int") to str

In [46]:
int('1')+1

2

In [47]:
'string '*5

'string string string string string '

In [48]:
22/7

3.142857142857143

In [49]:
a=2
b=2

In [50]:
id(a)

140706642798400

In [51]:
id(b)

140706642798400

In [52]:
a is b

True

In [53]:
(2 + 3) ** 4

625

In [54]:
number_with_power = 3 ** 3

In [55]:
number_with_power

27

In [56]:
float_number = 4.56
type(float_number)

float

In [57]:
float_number_one = 4.36 
float_number_two = 8.36

In [58]:
answer = float_number_one+float_number_two

In [59]:
answer

12.719999999999999

In [60]:
2 + 5

7

In [61]:
2.0 + 5.0

7.0

In [62]:
"A" + "B"

'AB'

In [63]:
["Hamza","Junaid"] + ["Abid","Konain"]

['Hamza', 'Junaid', 'Abid', 'Konain']

In [64]:
("Hamza","Junaid") + ("Abid","Konain")

('Hamza', 'Junaid', 'Abid', 'Konain')

In [65]:
{"A","B"} + {"C","D"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [66]:
{8,4} + {8,4}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [67]:
{1:"A",2:"B"} + {3:"C",4:"D"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [68]:
{1:"A",2:"B"} + {1:"C",2:"D"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [69]:
5 - 2

3

In [70]:
4.2 - 3

1.2000000000000002

In [71]:
{5,6,8,7} - {6,7}

{5, 8}

In [72]:
{"A","B","C"} - {"B"}

{'A', 'C'}

In [73]:
[4,5]-[2,3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [74]:
2 * 4

8

In [75]:
3.0 * 2

6.0

In [76]:
"A" * 3

'AAA'

In [77]:
["A"] * 3

['A', 'A', 'A']

In [78]:
("aA") * 2

'aAaA'

In [79]:
("aA",) * 2

('aA', 'aA')

In [80]:
test  = ("aA")
type(test)

str

In [81]:
test  = {"aA"}
type(test)

set

In [82]:
("aA","bB") * 2

('aA', 'bB', 'aA', 'bB')

In [83]:
12 / 4

3.0

In [84]:
11 / 3

3.6666666666666665

In [87]:
11 // 3

3

In [88]:
11 % 3

2

In [89]:
2 ** 3

8

In [90]:
"A" ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [91]:
2 == 2

True

In [92]:
2 === 2

SyntaxError: invalid syntax (<ipython-input-92-2a378b616cf0>, line 1)

In [93]:
2 == 2.0

True

In [94]:
2 == '2'

False

In [95]:
'A' == 'a'

False

In [96]:
5 > 3

True

In [97]:
5 > 5

False

In [98]:
5 >= 5

True

In [99]:
5 > 4

True

In [100]:
"A" > "B"

False

In [101]:
ord("a")

97

In [102]:
ord("X")

88

In [103]:
chr(65)

'A'

In [104]:
3 < 4

True

In [105]:
chr(88)

'X'

In [106]:
3 <= 3

True

In [107]:
'qasim' != "Qasim"

True

In [108]:
4 <> 4

SyntaxError: invalid syntax (<ipython-input-108-51257adbce18>, line 1)

In [109]:
2 != 4

True

In [110]:
a = 5
print(a)

5

In [112]:
a = 5
a = 6
print(a)

6

In [113]:
a,a,a = 5,6,7
a

7

In [114]:
a = 1 # 1
a +=2 # 1 + 2 = 3
a +=3 # 3 + 3=6
a +=4 # 6 + 4 = 10
print(a)

10

In [115]:
a = 1 #      1
a = a + 2 #  1 + 2 = 3
a = a + 3 #  3 + 3 = 6
a = a + 4 # 6 + 4 = 10
print(a)

10

In [116]:
a = 1
a++
a

SyntaxError: invalid syntax (<ipython-input-116-ced3118feedb>, line 2)

In [117]:
a = 100
a -=5
a -=5
a -=10
print(a)

80

In [118]:
a = 1
a *= 2 # 1 *2
a *= 3 # 2 * 3 = 6
print(a)

6

In [119]:
a = 100
a /= 2
a /= 2
print(a)

25.0

In [120]:
a = 100
a //= 2
a //= 2
print(a)

25

In [121]:
a = 21
a %= 5
print(a)

1

In [122]:
a = 2
a **= 2
a **= 3
print(a)

64

In [123]:
a = "A"
a += "B"
print(a)

AB

In [124]:
a = [1,2,3]
a +=[5,6]
print(a)

[1, 2, 3, 5, 6]

In [125]:
True and True and True

True

In [126]:
True & True & True

True

In [127]:
True and False and True

False

In [129]:
user = input("UserName:")
password = input("Password")

user == "Admin" and password == "123"

UserName:Admin
Password123

True

In [131]:
user = input("UserName:")
password = input("Password")

(user == "Admin") & (password == "123")

UserName:Admin
Password123

True

In [133]:
user = input("UserName:")
password = input("Password")

user == "Admin" and password == "123"

UserName:Admin
Password123

True

In [134]:
True or True or False or False or True

True

In [139]:
True | False | False | False | False

True

In [136]:
False | False | False | False | False

False

In [140]:
user = "Qasim" # Qasim,Ali, Hamza
password = "123" # 123


(user == "Qasim" or \
 user== "Ali" or \
 user == "Hamza") and password=="123"

True

In [141]:
user = "a"
password = "123"

not (user=="Ali" and password=="123")

True

In [142]:
not(True)

False

In [143]:
not True

False

In [144]:
not(False)

True

In [148]:
0100001

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-148-020e1cd91762>, line 1)

In [149]:
28 & 29

28

In [150]:
29 & 28

28

In [151]:
28 | 29

29

In [152]:
28 ^ 29

1

In [153]:
~29

-30

In [154]:
~88

-89

In [155]:
~-80

79

In [1]:
names = ["Ali","Hamza","Junaid","Kashif"]
i = 0
while i < len(names):
    if names[i]=="Ali":
        print(True)
        break
    i +=1

True

In [2]:
names = ["Ali","Hamza","Junaid","Kashif"]
"Kashif" in names

True

In [4]:
user = input("Text")
'pakistan' in user

Textpakistan

True

In [5]:
'Qasim' not in user

True

In [7]:
user = input()
user = user.split()
user

Where are u

['Where', 'are', 'u']

In [8]:
a = '5'
b = 5
c = a

print(a is b)
print(a is c)

False
True

In [15]:
print(id(a))
print(id(b))
print(id(c))

1168205177776
140706642798496
1168205177776

In [16]:
id(a) == id(c)

True

In [17]:
4+8-7*(5**2)/3*2+7

-97.66666666666667

In [18]:
5**2

25

In [19]:
4+8-7*(25)/3*2+7 
4+8-(175)/3*2+7
4+8-58.33*2+7
4+8-116.66+7
12-116.66+7
-97.66

-97.66

In [24]:
if True:
    print("Pakistan")
else:
    print("Zinda bad")

Pakistan

In [26]:
if True:
 print("Pakistan")
else:
 print("Zinda bad")

if False:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else:
    print("Zinda bad")

Pakistan
Zinda bad

In [27]:
if False:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else:
    print("Zinda bad")

Zinda bad

In [31]:
user = input("User")
password = input("Pass")

if (user=="Ali" or user=="Hamza") and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

UserAli
Pass123
Valid User!

In [32]:
user = input("User")
password = input("Pass")

if (user in ['Ali',"Hamza","Junaid"]) and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

UserJunaid
Pass123
Valid User!

In [33]:
# lists
name = "Qasim"
name

'Qasim'

In [34]:
name1 = "A"
name2 = "B"
name3 = "C"
print(name1,name2,name3)

A B C

In [37]:
#        0    1   2
names = ["A","B","C"]
#        -3   -2  -1

print(names[0])
print(names[-1])

A
C

In [40]:
#        0    1   2
names = ["A","B","C"]
#        -3   -2  -1
print(type(names))
print(type(name1))

<class 'list'>
<class 'str'>

In [41]:
a = print('pakistan') #Non Return
print(a)

pakistan
None

In [42]:
a = len('kasdjflasjdfjalk') # Return Function
print(a)

16

In [46]:
l1 = [] #empty list
l1.append("A") # ["A"]
l1.append("B") # ["A","B"]
l1.append("C") # ["A","B","C"]

print(l1)

['A', 'B', 'C']

In [47]:
print(l1)
l1.clear()
print(l1)

['A', 'B', 'C']
[]

In [48]:
l1 = ["a","b","c"]
print(l1)
del l1
print(l1)

['a', 'b', 'c']

NameError: name 'l1' is not defined

In [49]:
l1 = ['A','B','C']
l2 = l1 # Shallow Copy
print(l1)
print(l2)

l2[0] = "Pakistan"
print(l1)
print(l2)

['A', 'B', 'C']
['A', 'B', 'C']
['Pakistan', 'B', 'C']
['Pakistan', 'B', 'C']

In [50]:
l1 = ['A','B','C']
l2 = l1.copy() # Deep Copy
print(l1)
print(l2)

l2[0] = "Pakistan"
print(l1)
print(l2)

['A', 'B', 'C']
['A', 'B', 'C']
['A', 'B', 'C']
['Pakistan', 'B', 'C']

In [51]:
l1 = ['A',"B","A","C","C"]
l1.count("C")

2

In [52]:
l1 = ['A',"B","C"]
l2 = ["Y","X","Z"]

print(l1 + l2) # Inline Operation
print(l1,l2)

['A', 'B', 'C', 'Y', 'X', 'Z']
['A', 'B', 'C'] ['Y', 'X', 'Z']

In [53]:
l1 = ['A',"B","C"]
l2 = ["Y","X","Z"]

print(l1.__add__(l2)) # Inline Operation
print(l1,l2)

['A', 'B', 'C', 'Y', 'X', 'Z']
['A', 'B', 'C'] ['Y', 'X', 'Z']

In [54]:
l1 = ['A',"B","C"]
l2 = ["Y","X","Z"]

l1.extend(l2) # In Memory Operation

print(l1)
print(l2)

['A', 'B', 'C', 'Y', 'X', 'Z']
['Y', 'X', 'Z']

In [55]:
print(l1)
print(l1.index("Y"))

['A', 'B', 'C', 'Y', 'X', 'Z']
3

In [56]:
l1 = ["A","B","C","B","A"]
print(l1.index("B"))
print(l1.index("B", 2))

1
3

In [57]:
l1 = []
l1.insert(0, "A")#[A]
l1.insert(0, "B")#[B,A]
l1.insert(0, "C")#[C,B,A]
print(l1)
l1.insert(1,"D")
print(l1)

['C', 'B', 'A']
['C', 'D', 'B', 'A']

In [58]:
l1 = ["A","B","C"]

del l1[-1] # ["A","B"]
del l1[-1] #["A"]
l1

['A']

In [59]:
l2 = []
l1 = ["A","B","C","D","E"]

a = l1.pop() # E
l2.append(a) # [E]

a = l1.pop() # D
l2.append(a) # [E,D]

a = l1.pop() # C
l2.append(a)# [E,D,C]

print(l1) # [A,B]
print(l2) # [E,D,C]

['A', 'B']
['E', 'D', 'C']

In [60]:
l2 = []
l1 = ["A","B","C","D","E"]

a = l1.pop(1) # B
l2.append(a) # [B]

a = l1.pop(1) # C
l2.append(a) # [B,C]

a = l1.pop(1) # D
l2.append(a)# [B,C,D]

print(l1) 
print(l2)

['A', 'E']
['B', 'C', 'D']

In [61]:
l1 = ["A","B","C","B","E"]
l1.remove("B")
print(l1)
l1.remove("B")
print(l1)

['A', 'C', 'B', 'E']
['A', 'C', 'E']

In [62]:
l1 = ["A","B","X","C","Y","Z"]
print(l1)
l1.reverse()
print(l1)

['A', 'B', 'X', 'C', 'Y', 'Z']
['Z', 'Y', 'C', 'X', 'B', 'A']

In [63]:
l1 = ["A","B","X","C","Y","Z"]
print(l1)
l1.sort()
print(l1)

['A', 'B', 'X', 'C', 'Y', 'Z']
['A', 'B', 'C', 'X', 'Y', 'Z']

In [64]:
l1 = ["A","B","X","C","Y","Z"]
print(l1)
l1.sort()
l1.reverse()
print(l1)

['A', 'B', 'X', 'C', 'Y', 'Z']
['Z', 'Y', 'X', 'C', 'B', 'A']

In [65]:
l1 = ["A","B","X","C","Y","Z"]
print(l1)
l1.sort(reverse=True)
print(l1)

['A', 'B', 'X', 'C', 'Y', 'Z']
['Z', 'Y', 'X', 'C', 'B', 'A']

In [66]:
l1 = ["A","B","C"]
l2 = ["X","Z"]

print(l1,l2)
print(l1.__add__(l2)) # Inline Operation
print(l1,l2)

['A', 'B', 'C'] ['X', 'Z']
['A', 'B', 'C', 'X', 'Z']
['A', 'B', 'C'] ['X', 'Z']

In [67]:
print(l1)
l1.__class__

['A', 'B', 'C']

list

In [68]:
print(l1)
l1.__contains__("A")

['A', 'B', 'C']

True

In [69]:
l1 = ["A","B","C"]
l1.__delitem__(1)
l1

['A', 'C']

In [70]:
l1.__doc__

'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'

In [71]:
[1,2,3].__eq__([3,2,1])

False

In [72]:
[5,7,9].__ge__([1,2,3])

True

In [1]:
['A'].__mul__(2)

['A', 'A']

In [2]:
['A'] * 2

['A', 'A']

In [3]:
['A'].__sizeof__()

48

In [4]:
['A'].__sizeof__

In [5]:
l1 = ["A","B","C"]
l1[1]="ZZ"
print(l1)

['A', 'ZZ', 'C']

In [11]:
l1 = ("A","B","C")
l1[1] = 5
print(l1)

TypeError: 'tuple' object does not support item assignment

In [12]:
l1 = ("A","B","C")
l1 = ("A",5,"C")
print(l1)

('A', 5, 'C')

In [13]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [14]:
print(len(dir(list)))
dir(list)

46

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [15]:
"A " * 10

'A A A A A A A A A A '

In [16]:
counter = 1 # Counter

while counter <= 10: #Logic
    print("line no",counter)
    counter += 1 # Increment

line no 1
line no 2
line no 3
line no 4
line no 5
line no 6
line no 7
line no 8
line no 9
line no 10

In [17]:
counter = 1000# Counter

while counter >= 990: #Logic
    print("line no",counter)
    counter -= 1 # Increment

line no 1000
line no 999
line no 998
line no 997
line no 996
line no 995
line no 994
line no 993
line no 992
line no 991
line no 990

In [18]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
for i in range(1000,990,-1):
    print(i)

1000
999
998
997
996
995
994
993
992
991

In [20]:
for i in range(1,11):
    #print(2,"X",i,"=",i*2)
    #print("2 X "+str(i)+" = "+str(i*2))
    print(f"2 X {i} = {i*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [21]:
for i in range(10,0,-1):
    #print(2,"X",i,"=",i*2)
    #print("2 X "+str(i)+" = "+str(i*2))
    print(f"2 X {i} = {i*2}")

2 X 10 = 20
2 X 9 = 18
2 X 8 = 16
2 X 7 = 14
2 X 6 = 12
2 X 5 = 10
2 X 4 = 8
2 X 3 = 6
2 X 2 = 4
2 X 1 = 2

In [22]:
user = input("Enter no")
user = int(user)
for t in range(1, user+1): #4+1 =5
    for n in range(1,11):
        print(f"{t} X {n} = {t*n}")

Enter no4
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [23]:
u = int(input("Enter no"))

for r in range(1,11):
    for c in range(1, u+1):
        print(f"{c} X {r} = {c*r}", end="\t")
    print()

Enter no4
1 X 1 = 1	2 X 1 = 2	3 X 1 = 3	4 X 1 = 4
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6	4 X 2 = 8
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9	4 X 3 = 12
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12	4 X 4 = 16
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15	4 X 5 = 20
1 X 6 = 6	2 X 6 = 12	3 X 6 = 18	4 X 6 = 24
1 X 7 = 7	2 X 7 = 14	3 X 7 = 21	4 X 7 = 28
1 X 8 = 8	2 X 8 = 16	3 X 8 = 24	4 X 8 = 32
1 X 9 = 9	2 X 9 = 18	3 X 9 = 27	4 X 9 = 36
1 X 10 = 10	2 X 10 = 20	3 X 10 = 30	4 X 10 = 40

In [30]:
users = [[1,'Qasim','1545454523!!'],
        [2,'Ali','1454545453!!'],
       [3,'Ahmed','14578787873!!'],
       [4,'Aslam,','1979797987878!!']]
print(users)

[[1, 'Qasim', '1545454523!!'], [2, 'Ali', '1454545453!!'], [3, 'Ahmed', '14578787873!!'], [4, 'Aslam,', '1979797987878!!']]

In [32]:
l1 = [20,"Ali",'A.I']
print(l1[2])

A.I

In [28]:
{'id':20,
'name':"Ali",
"course":"A.I"}

{'id': 20, 'name': 'Ali', 'course': 'A.I'}

In [33]:
d1 = {'id':20,
    'name':"Ali",
    "course":"A.I"}
d1

{'id': 20, 'name': 'Ali', 'course': 'A.I'}

In [34]:
d1 = {} #empty dictionary

d1['id'] = 200
d1['name'] = "Qasim"
d1['course']="A.I"

d1

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

In [35]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
d1.clear() # In Memory, Empty Dictionary
print(d1)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}
{}

In [36]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
del d1
print(d1)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

NameError: name 'd1' is not defined

In [37]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
d2 = d1.copy()
d1['id']=500
print(d1)
print(d2)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}
{'id': 500, 'name': 'Qasim', 'course': 'A.I'}
{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

In [38]:
l1 = ['name','course','timing','address']

d1 = dict.fromkeys(l1)
d1

{'name': None, 'course': None, 'timing': None, 'address': None}

In [39]:
l1 = ['name','course','timing','address']

d1 = dict.fromkeys(l1,'NAN')
d1

{'name': 'NAN', 'course': 'NAN', 'timing': 'NAN', 'address': 'NAN'}

In [40]:
type(dict())

dict

In [42]:
a = input("Enter Keys for Dictionary")
print(a)
a = a.split(",")
print(a)

d1 = {}
print(d1)

for k in a:
    d1[k] = None
    
d1

Enter Keys for DictionaryName, Course, Class
Name, Course, Class
['Name', ' Course', ' Class']
{}

{'Name': None, ' Course': None, ' Class': None}

In [44]:
a = input("Enter Keys: ").split(',')
dict.fromkeys(a)

Enter Keys: Name, Course, Class

{'Name': None, ' Course': None, ' Class': None}

In [45]:
l1 = [a,b,c]
l2 = [x,y,z]

{a:x, b:y, c:z}

NameError: name 'b' is not defined

In [46]:
a = input("Kesy").split(",")
b = input("values").split(",")

d1 = {}
for i in range(len(a)):
    d1[a[i]] = b[i]
    
d1

KesyName, S/o, Class
valuesUsama , Saleem, BSIT

{'Name': 'Usama ', ' S/o': ' Saleem', ' Class': ' BSIT'}

In [47]:
ids = [2,5,6]
name = ['a','b','c']
course = ['x','y','z']
database = zip(ids,name,course)
list(database)

[(2, 'a', 'x'), (5, 'b', 'y'), (6, 'c', 'z')]

In [48]:
a = input("Kesy").split(",")
b = input("values").split(",")

c = zip(a,b)

d1 = dict(c)
d1

KesyName, Occupation
valuesUsama, Data Scientist

{'Name': 'Usama', ' Occupation': ' Data Scientist'}

In [49]:
a = [1,2,3]
b = ["A","B","C"]

list(zip(a,b))

[(1, 'A'), (2, 'B'), (3, 'C')]

In [50]:
d2= {}
keys = input("Enter Keys").split(',')
values = input("Enter Values").split(',')
d1 = dict.fromkeys(keys)
ind = 0
for ele in d1:
    d2[ele] = values[ind]
    ind = ind+1
print(d2)

Enter KeysName, S/o
Enter ValuesUsama, Saleem
{'Name': 'Usama', ' S/o': ' Saleem'}

In [51]:
d1 = {
    'id':input("id"),
    'name':input("Name"),
    'skills': input("Skills").split(",")
}
d1

id001
NameUsama
SkillsWeb Developer

{'id': '001', 'name': 'Usama ', 'skills': ['Web Developer']}

In [54]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
d1=['CNIC']

In [55]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
d1.get('name')

'Ali'

In [58]:
d1 ={'id': '200', 'name': 'Ali','CNIC':'67278612876', 'skills': ['a', 'b', 'c', 'd']}
print(d1.get('CNIC',"Not available"))
print(d1)

67278612876
{'id': '200', 'name': 'Ali', 'CNIC': '67278612876', 'skills': ['a', 'b', 'c', 'd']}

In [59]:
print(list(d1.items()))
print(list(d1.keys()))
print(list(d1.values()))

[('id', '200'), ('name', 'Ali'), ('CNIC', '67278612876'), ('skills', ['a', 'b', 'c', 'd'])]
['id', 'name', 'CNIC', 'skills']
['200', 'Ali', '67278612876', ['a', 'b', 'c', 'd']]

In [61]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
# pop will remove item 
print(d1.pop('id'))
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
200
{'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

In [62]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.popitem())
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
('skills', ['a', 'b', 'c', 'd'])
{'id': '200', 'name': 'Ali'}

In [63]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.popitem())
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
('skills', ['a', 'b', 'c', 'd'])
{'id': '200', 'name': 'Ali'}

In [64]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

print(d1)
print(d1.setdefault('id', 'ABC'))
print(d1.setdefault('class', '203'))
print(d1)

{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
200
203
{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd'], 'class': '203'}

In [65]:
dic1 = {'a':1, 'b':2, 'c':100}
dic2 = {"x":200,'b':200,'a':125}

dic1.update(dic2)
dic1

{'a': 125, 'b': 200, 'c': 100, 'x': 200}

In [66]:
d1 = {
    'a':200,
    'c':300,
    'b':600,
    'd':400
}
d2={}
                #a,b,c,d
for i in sorted(d1.keys()):
    d2[i]=d1[i]
d2

{'a': 200, 'b': 600, 'c': 300, 'd': 400}

In [67]:
moon = {}
scores = {'a':200,'c':300,'b':600,'d':400}
for key,value in sorted(scores.items(),key = lambda kv:kv[1]):
    moon[key] = value
print(moon)

{'a': 200, 'c': 300, 'd': 400, 'b': 600}

In [73]:
moon = {}
scores = {'a':200,'c':300,'b':600,'d':400}
for key,value in sorted(scores.items(),key = lambda kv:kv[0]):
    moon[key] = value
print(moon)

{'a': 200, 'b': 600, 'c': 300, 'd': 400}

In [74]:
scores = {'a':200,'c':300,'b':600,'d':400}
{k:v for k, v in sorted(scores.items(), key=lambda x:x[1], reverse=True)}

{'b': 600, 'd': 400, 'c': 300, 'a': 200}

In [77]:
l1 = []
run = True
while run:
    choice = input("Press n/N to stop: ")
    if choice == "n" or choice == "N":
        run = False
    else:
        d1 = {
            "id":input("Id: "),
            "name":input("Name: "),
            "Skills":input("Skills: ").split(", ")
        }
        l1.append(d1)
print(l1, sep="\n")

Press n/N to stop:
Id: 1
Name: Usama
Skills: Web
Press n/N to stop:
Id: 2
Name: Asim
Skills: Salesman
Press n/N to stop: N
[{'id': '1', 'name': 'Usama', 'Skills': ['Web']}, {'id': '2', 'name': 'Asim', 'Skills': ['Salesman']}]

In [78]:
a=[("A",'z',20),
  ("C",'x',100),
  ("B",'y',50)]
a

[('A', 'z', 20), ('C', 'x', 100), ('B', 'y', 50)]

In [79]:
def abc(x):
    return x[-1]

In [80]:
sorted(a, key=abc, reverse=True)

[('C', 'x', 100), ('B', 'y', 50), ('A', 'z', 20)]

In [85]:
a=[("A",'z',20),
  ("C",'x',100),
  ("B",'y',50)]
sorted(a, key=lambda x:x[-1], reverse=True)

[('C', 'x', 100), ('B', 'y', 50), ('A', 'z', 20)]

# Functions

In [2]:
print("Pakistan zinda bad")
print("We are muslim")
print("We love our country!")

print("Pakistan zinda bad")
print("We are muslim")
print("We love our country!")

print("Pakistan zinda bad")
print("We are muslim")
print("We love our country!")

Pakistan zinda bad
We are muslim
We love our country!
Pakistan zinda bad
We are muslim
We love our country!
Pakistan zinda bad
We are muslim
We love our country!

# 1.  Pre define Functions

In [6]:
print("Pre Define Fucntions")
input("abc")
print(type(22))
print(len('ad'))
print(id('aa'))

Pre Define Fucntions
abcaa
<class 'int'>
2
2818334217136

# 2. User Define Functions

In [10]:
def abc(): # Function Dec
    #Body Start indentation block
    print("Pakistan zinda bad")   #Statment1
    print("We are ABC")           #statment2
    print("We love our country!") #Statment3
    #Body End indentation block
    
    
abc()# Defualt Function
abc()

Pakistan zinda bad
We are ABC
We love our country!
Pakistan zinda bad
We are ABC
We love our country!

# 3. Required Arguments Functions

In [11]:
len()

TypeError: len() takes exactly one argument (0 given)

In [12]:
def id_card(sid, sname, fname, course, timing):
    print(
    f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    )
    
id_card(1,'Qasim','Aslam','A.I','9 to 12')

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

In [13]:
id_card()

TypeError: id_card() missing 5 required positional arguments: 'sid', 'sname', 'fname', 'course', and 'timing'

In [14]:
id_card(1,'Qasim','Aslam')

TypeError: id_card() missing 2 required positional arguments: 'course' and 'timing'

In [15]:
id_card(1,'9 to 12','Aslam','A.I','Qasim')

    PIAIC Islamabad
    Student id: 1
    Student Name: 9 to 12
    Father's Name: Aslam
    Course: A.I
    Timing: Qasim

In [16]:
data = [[1,'a','a','b','a'],
       [2,2,2,2,2],
       [3,3,3,3,3]]

len(data)
for i in data:
    id_card(*i)
    print(*i)

    PIAIC Islamabad
    Student id: 1
    Student Name: a
    Father's Name: a
    Course: b
    Timing: a

1 a a b a

    PIAIC Islamabad
    Student id: 2
    Student Name: 2
    Father's Name: 2
    Course: 2
    Timing: 2

2 2 2 2 2

    PIAIC Islamabad
    Student id: 3
    Student Name: 3
    Father's Name: 3
    Course: 3
    Timing: 3

3 3 3 3 3

# 4. Optional Argument | Defualt Argument

In [20]:
def pl(x,y,z):
    print(x,y,z)
    print(x+y+z)
    
pl(9,3,2)

9 3 2
14

In [21]:
pl(2,3,4)

2 3 4
9

In [22]:
pl()

TypeError: pl() missing 3 required positional arguments: 'x', 'y', and 'z'

In [23]:
def pl(x,z, y=0):
    print(x,y,z)
    print(x+y+z)

pl(5,6)

5 0 6
11

In [24]:
def pl(x=0, y=0, z=0):
    print(x,y,z)
    print(x+y+z)
    
pl()

0 0 0
0

# 5. Non Return Functions

In [25]:
a = print('Pakistan')
print(a)

Pakistan
None

In [29]:
b=id_card(1,'Qasim','Aslam','A.I','9 to 12')

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

In [30]:
b=id_card(1,'Qasim','Aslam','A.I','9 to 12')   
print(b)

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

None

In [31]:
def pl(x=0, y=0, z=0):
    print(x+y+z)
    
a=pl(3,5,9) 
print(a)

17
None

# 6. Return Functions

In [34]:
def abc(x,y,z):
    return x+y+z

a = abc(3,3,5) #Return Fucntion
print(a)

11

In [35]:
def abc(x,y,z):
    return x+y+z

a = abc(3,3,5) #Return Fucntion

In [36]:
def abc(x,y,z):
    print('a')
    print('z')
    return x+y+z
    print('b')

a = abc(3,3,5) #Return Fucntion
print(a)

a
z
11

In [37]:
def id_card(sid, sname, fname, course, timing):
    return f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    
    
a=id_card(1,'Qasim','Aslam','A.I','9 to 12')

In [38]:
def id_card(sid, sname, fname, course, timing):
    return f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """
    
    
a=id_card(1,'Qasim','Aslam','A.I','9 to 12')
print(a)

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

In [39]:
def abc():
    return "A" # Always return first return statment
    return "B"
    return "C"

abc()

'A'

In [40]:
def abc(x,y,z):
    return x+y+z
    return x*y*z
    return x*y+z

abc(5,5,6)

16

In [41]:
def abc(x,y,z):
    return x+y+z, x*y*z, x*y+z

print(abc(5,5,6))
type(abc(5,5,6))

(16, 150, 31)

tuple

# 7. Positional Arguments

In [42]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
    
#id_card(1,'Qasim','Aslam','A.I','9 to 12')    
id_card(1,'A.I','9 to 12','Qasim','Aslam')

    PIAIC Islamabad
    Student id: 1
    Student Name: A.I
    Father's Name: 9 to 12
    Course: Qasim
    Timing: Aslam

In [43]:
id_card(1,'Qasim','Aslam','A.I','9 to 12')

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

In [44]:
id_card(2,'Usama','Saleem','A.I','9 to 12')

    PIAIC Islamabad
    Student id: 2
    Student Name: Usama
    Father's Name: Saleem
    Course: A.I
    Timing: 9 to 12

# 8. Keyword Arguments

In [47]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)

In [50]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
    
id_card(sid=1, course='A.I',timing='9 to 12',sname='Qasim',fname='Aslam')

    PIAIC Islamabad
    Student id: 1
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 9 to 12

# 9. Pass Argument with List

In [51]:
l1 = [1,"ABC","XYZ",'A.I',"AAA"]
print(l1)

[1, 'ABC', 'XYZ', 'A.I', 'AAA']

In [52]:
l1 = [1,"ABC","XYZ",'A.I',"AAA"]
print(l1[0], l1[1], l1[2],l1[3], l1[4])

1 ABC XYZ A.I AAA

In [54]:
l1 = [1,"ABC","XYZ",'A.I',"AAA"]
print(*l1)

1 ABC XYZ A.I AAA

In [55]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    
    
l1 = [1,"ABC","XYZ",'A.I',"AAA"]    
#id_card(l1[0], l1[1], l1[2],l1[3], l1[4])    
id_card(*l1) # same as above second last line

    PIAIC Islamabad
    Student id: 1
    Student Name: ABC
    Father's Name: XYZ
    Course: A.I
    Timing: AAA

# 10. Passing Argument with Dictionary

In [60]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC Islamabad
    Student id: {sid}
    Student Name: {sname}
    Father's Name: {fname}
    Course: {course}
    Timing: {timing}
    """)
    



d1 = {
    'sname':'Qasim',
    'sid':200,
    'fname':'Aslam',
    'timing':'5 to 9',
    'course': 'A.I'
    
}
#id_card(d1['sid'], d1['course'],d1['timing'],d1['sname'],d1['fname'])
id_card(**d1)

    PIAIC Islamabad
    Student id: 200
    Student Name: Qasim
    Father's Name: Aslam
    Course: A.I
    Timing: 5 to 9

In [61]:
def abc(name, *number):
    print(name)
    print(number)
    print(sum(number))
    
abc('Qasim',5,4,6,2)

Qasim
(5, 4, 6, 2)
17

In [62]:
def abc(name, abc, *number):
    print(name)
    print(abc)
    print(number)
    print(sum(number))
    
abc('Qasim','ABBB',5,4,6,2)

Qasim
ABBB
(5, 4, 6, 2)
17

In [65]:
def abc(*number, name):
    print(name)
    print(number)
    print(sum(number))
    
abc(5,4,6,2, name='Qasim')

Qasim
(5, 4, 6, 2)
17

In [79]:
def abc(abc, *number, name):
    print(name)
    print(number)
    print(sum(number))
    
abc(number=[5,4,6,2], name='Qasim', abc='aaa')

TypeError: abc() got an unexpected keyword argument 'number'

In [77]:
def abc(name, **kv):
    print(name)
    print(kv)
    
    
abc('QASim', a='bb',b='aa',c='ccc')

QASim
{'a': 'bb', 'b': 'aa', 'c': 'ccc'}

# 11. Recursive Function

In [80]:
def abc(n):
    if n==1:
        return 1
    return n * abc(n-1)

abc(5)

120

In [81]:
def abc(n):
    if n==1:
        return 1
    return n + abc(n-1)

abc(5)

15

# 12. Generator Function

In [6]:
def my_range(n):
    for i in range(0, n+3):
        print(i)
        
my_range(10)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [19]:
def my_range(n):
    for i in range(1, n+1):
        yield i
        
a = my_range(10)

print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4

In [20]:
print(next(a))

5

In [21]:
list(a)

[6, 7, 8, 9, 10]

In [22]:
def abc(n):
    for i in range(1,n+1):
        if (i%5==0 and i%7==0 and i%15==0):
            yield i
            
a = abc(1000)
print(next(a))
print(next(a))
print(next(a))
list(a)

105
210
315

[420, 525, 630, 735, 840, 945]

# 13. Lambda Function

In [23]:
def abc(x,y): return x+y

abc(5,7)

12

In [24]:
abc = lambda x,y,z : x+y+z

abc(4,6,7)

17

In [25]:
abc(7,9)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [26]:
abc(6,3)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [27]:
abc = lambda x,y,z : x+y+z

print(abc(4,6,7))
type(abc)

17

function

In [28]:
x = abc(4,8,9)
x

21

# OOP

In [1]:
s1name = "An"
s1fname = "Af"
s1age = 20
def s1speak():pass
def s1listing():pass
def eating():pass

s2name = "Bn"
s2fname = "Bf"
s2age = 20
def s2speak():pass
def s2listing():pass
def e2ting():pass

In [2]:
class Student(): # Class
    pass # Class Defination

s1 = Student() # s1 instance/Object calling Constructor
s2 = Student()
s3 = Student()

In [3]:
class Student():#Class
    def __init__(self, sid, name):#Constructor
        self.sid = sid #Attributes/properties/DataMember/Field
        self.name = name #Attributes/properties/DataMember/Field
        self.fname = ""#Attributes/properties/DataMember/Field
        self.age = 0#Attributes/properties/DataMember/Field
        
    def login(self, user, password):#Method
        self.name = user
        print("Welcome!", self.name)
        
    def logout(self):pass #Method
    def quiz_attempt(self):pass # Method

In [4]:
s1 = Student(1, "Ali")
s2 = Student(20, "Hamza")
s3 = Student(2, "Kashif")

In [5]:
s3.name

'Kashif'

In [6]:
s1.login("Ali","11asdf")

Welcome! Ali

In [7]:
s2.login("Abid","3sdjf")

Welcome! Abid

In [12]:
class Student():#Class
    def __init__(this, sid, name):#Constructor
        this.sid = sid #Attributes/properties/DataMember/Field
        this.name = name #Attributes/properties/DataMember/Field
        this.fname = ""#Attributes/properties/DataMember/Field
        this.age = 0#Attributes/properties/DataMember/Field
        
    def login(this, user, password):#Method
        this.name = user
        print("Welcome!", this.name)
        
    def logout(this):pass #Method
    def quiz_attempt(this):pass # Method

In [13]:
s1 = Student(1, "Ali")
s2 = Student(20, "Hamza")
s3 = Student(2, "Kashif")

In [14]:
s1.name

'Ali'

In [15]:
s2.login("Hamza","1234")

Welcome! Hamza

In [16]:
s2.logout()

# 1. Class Variable

In [19]:
class A():
    counter = 0 # Class Variable
    
    def __init__(self):
        self.id = A.counter + 1
        self.name = ""
        self.fname = ""
        #A is Class name
        A.counter += 1 # update class variable         
        
obj1 = A() 
obj2 = A() 
obj3 = A() 



obj1.counter #calling Class Variable with obj ref
A.counter # Calling class variable with Class Ref

3

In [20]:
print(obj1.id, obj2.id, obj3.id, sep="\n")

1
2
3

# 2. Inheritance

In [22]:
class parent():
    def __init__(self):
        self.id = 0
        self.name = ""
        self.dob = 0
    
    def speak(self, words):
        print(words,"!")
    
    def eat(self,food):
        print("having",food)
        
    def listening(self):
        print("Listening")
    
class child(parent):
    pass

obj_p = parent()

obj_c = child()

In [28]:
obj_p.speak("Cristiano")

Cristiano !

In [29]:
obj_c.speak("Yes Mom")

Yes Mom !

In [30]:
obj_c.eat("Pizza")

having Pizza

In [31]:
class Father():
    def __init__(self):
        self.name = ""
        self.relation = ""
    def earns(self):
        print("Father earns for his children")
    
    def support(self):
        print("In the way of support the father is the backbone for the children")
    
class Mother():
    def __init__(self):
        self.name = ""
        self.relation = ""
        
    def love(self):
        print("The mother loves children")
        
    def feed(self):
        print("Mother feeds children")

class children(Father, Mother):
    pass
obj_c = children()

In [33]:
obj_c.love()
obj_c.earns()
obj_c.feed()

The mother loves children
Father earns for his children
Mother feeds children

# 3. Ploymorphism
    Overloading

In [34]:
class Abc():
    def pl(self, *n):
        print(sum(n))
        
o1 = Abc()
o1.pl(1,2)
o1.pl(2.3, 2.5)
o1.pl(1,1.2)
o1.pl(3.3, 2)
o1.pl(33,3,2,5,7)

3
4.8
2.2
5.3
50

In [35]:
class ABC():
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __add__(self, other):
        print(self.x + other.x)
        print(self.y + other.y)
        
o1 = ABC(2,4)        
o2 = ABC(3,5)

o1 + o2

5
9

# 3. Ploymorphism
    Over Riding

In [36]:
class Parent():
    def a(self):print("Parent a..")
    def b(self):print("Parent b..")
    def c(self):print("Parent c..")
        
class Child(Parent):
    def b(self):print("Child b..")
        
obj1 = Child()    
obj1.a()
obj1.b()
obj1.c()

Parent a..
Child b..
Parent c..

# 4. Encopsoluation

In [39]:
class A():
    def __init__(self, name, age):
        self.__sname = name
        self.__age = age
        
s1 = A("Ali",20)

In [40]:
s1.sname

AttributeError: 'A' object has no attribute 'sname'

In [41]:
s1.__sname

AttributeError: 'A' object has no attribute '__sname'

In [42]:
s1._A__sname

'Ali'

In [43]:
class A():
    def __init__(self, name, age):
        self.__sname = name
        self.__age = age
        
        
    def dis(self):
        print("Name:", self.__sname)
        print("Age:", self.__age)
        
    def change(self, a, b):
        self.__sname = a
        self.__age = b
        
        
s1 = A("Ali",20)

In [44]:
s1.dis()

Name: Ali
Age: 20

In [45]:
s1.change("Asif", 25)
s1.dis()

Name: Asif
Age: 25

In [46]:
class A():
    def __init__(self, name, age):
        self.__sname = name
        self.__age = age
        
        
    def dis(self):
        print("Name:", self.__sname)
        print("Age:", self.__age)
        self.__info() #calling private method
        
    def change(self, a, b):
        self.__sname = a
        self.__age = b
        
    def __info(self):
        print("This is private method")
        
        
s1 = A("Ali",20)

In [47]:
s1.dis()

Name: Ali
Age: 20
This is private method

# 5. Abstractions Class

In [50]:
class A:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class B(A):
    pass


obj1 = A('Asif',20)
obj2 = B('Hamza',26)

print(obj1.name,obj1.age)
print(obj2.name)

Asif 20
Hamza

In [51]:
import xyz

ModuleNotFoundError: No module named 'xyz'

In [52]:
xyz.a()

NameError: name 'xyz' is not defined

In [53]:
from xyz import b

ModuleNotFoundError: No module named 'xyz'

In [54]:
b()

NameError: name 'b' is not defined

In [55]:
import numpy as np

In [57]:
from abc import ABC, abstractmethod

class Human(ABC):# Abstract Class
    @abstractmethod
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
        
class Male(Human):#Child Class
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
p = Human("Ali",20)

TypeError: Can't instantiate abstract class Human with abstract methods __init__